[Unit]
Description=Asus WMI hotkeys handler

[Service]
Type=simple
ExecStart=/usr/share/asus_wmi_hotkeys-driver/asus_wmi_hotkeys.py $LAYOUT
StandardInput=tty-force
StandardOutput=/var/log/asus_wmi_hotkeys-driver/error.log
StandardError=/var/log/asus_wmi_hotkeys-driver/error.log
TimeoutSec=5
Restart=on-failure
# For some operating systems with boot failure, adding this following property might resolve the issue  
ExecStartPre=/bin/sleep 2

[Install]
WantedBy=default.target
