[Unit]
Description=Asus WMI hotkeys handler

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /usr/share/asus_wmi_hotkeys-driver/asus_wmi_hotkeys.py $LAYOUT
StandardOutput=append:/var/log/asus_wmi_hotkeys-driver/error.log
StandardError=append:/var/log/asus_wmi_hotkeys-driver/error.log
TimeoutSec=5
Restart=on-failure
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/ldrahnik/.Xauthority"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="XDG_RUNTIME_DIR=/run/user/1000"

[Install]
WantedBy=default.target
