[Unit]
Description=Asus WMI hotkeys handler

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /usr/share/asus-wmi-hotkeys-driver/asus_wmi_hotkeys.py layout
StandardOutput=append:$ERROR_LOG_FILE_PATH
StandardError=append:$ERROR_LOG_FILE_PATH
TimeoutSec=5
Restart=on-failure
Environment="DISPLAY=$DISPLAY"
Environment="XAUTHORITY=$XAUTHORITY"
Environment="DBUS_SESSION_BUS_ADDRESS=$DBUS_SESSION_BUS_ADDRESS"
Environment="XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR"

[Install]
WantedBy=default.target
